<div class="container-principal">
  <mat-card class="card mat-elevation-z4">
    <mat-card-title>Editar Diretor</mat-card-title>
    <form [formGroup]="form">
      <mat-form-field>
        <input matInput placeholder="Nome" formControlName="nome">
      </mat-form-field>
    </form>

    <button class="salvar" mat-raised-button (click)="editarDiretor()">
      Salvar Edição
    </button>

    <button class="cancelar" mat-raised-button (click)="cancelar()">
      Cancelar
    </button>
  </mat-card>
</div>
